* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: #070707;
}
header {
    margin-bottom: 12px;
}
img {
    object-fit: contain;
    width: 100%;
    vertical-align: top;
    aspect-ratio: 1;
}
.container {
    margin: 0 auto;
    width: min(90%, 970px);
}
.menu {
    list-style: none;
    text-align: center;
    font-size: 0;
    padding: 27.5px 0;
    border-bottom: 1px solid #828282;
    color: #828282;
}
.menu li {
    display: inline-block;
    font-size: 18px;
    margin-right: 40px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu li:hover {
    color: #070707;
}
.main-title {
    font-size: 48px;
    margin-bottom: 50px;
}
.novik {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.denis {
    width: 970px;
    height: 387px;
}
.section-about {
    text-align: center;
    font-size: 18px;
    padding: 100px 0;
    background-color: #f6f6f6;
}
.section-title {
    font-size: 34px;
    margin-bottom: 50px;
    text-align: center;
}
.sub-title {
    margin-bottom: 50px;
    padding-top: 20px;
}
.skills-title {
    margin: 0;
}
.text-wrapper {
    max-width: 480px;
}
.text-wrapper p {
    margin-bottom: 30px;
}
.text-wrapper p:last-child {
    margin-bottom: 0;
}
.section-portfolio {
    padding-top: 100px;
    text-align: center;
    background-color: #f6f6f6;
}
.fashion-link {
    padding: 40px 0 70px;
    color: #070707;
    display: inline-block;
}
li a {
    text-decoration: none;
    color: #828282;
}
li a:hover {
    color: #070707;
}
#skills {
    padding: 100px 0 101px;
}
.sub-title {
    text-align: center;
}
.skills-list {
    list-style: none;
    font-size: 0;
}
.list-item {
    display: inline-block; 
    margin-right: 96.5px; 
    width: 170px;
    font-size: 14px;
    vertical-align: top;  
}
.list-item:last-child {
    margin-right: 0;
}
.skill-logo {
    width: 80px;
    height: 80px;
    margin: 0 auto 25px;
}
.item-text {
    text-align: center;
    color: #828282;
    letter-spacing: 0.28px;
    font-weight: 700;
    margin-bottom: 60px;
    padding: 0 20px;
}
.last p {
    margin-bottom: 80px;
}
.star {
    display: inline-block;
    margin-right: 10px;
    width: 26px;
    height: 26px;
    background: url('../img/black.png') 50% 50%/26px auto no-repeat;
}
.star:last-child {
    margin-right: 0;
}
.star-wrapper {
    font-size: 0;
}
.star:last-child {
    margin-right: 0;
}
.gray {
    opacity: 0.2;
}
.contacts {
    padding: 100px 0;
}
.btn {
    padding: 10px 16px;
    text-align: center;
    background-color: #000;
    border-radius: 22px;
    letter-spacing: 1.8px;
    font-weight: 700;
    color: #fff;
    border: 0;
    margin-bottom: 30px;
    display: inline-block;
}
.logoes-list {
    font-size: 0;
    list-style: none;
}
.portfolio-img {
    display: inline-block;
    margin-right: 50px;
    width: 40px;
    aspect-ratio: 1;
}
.portfolio-sub {
    margin-bottom: 60px;
}
.portfolio-title {
    margin-bottom: 20px;
}
.section_portfolio_img {
    height: 540px;
}