.container {
    max-width: 1040px;
    padding: 0 20px;
    margin: 0 auto;
}
.box-img {
    width: 100%;
    height: auto;
}
.header {
    padding-top: 30px;
}
.box-title {
    font-size: 45px;
    margin: 0;
    margin-bottom: 20px;
}
.secondary-title {
    font-size: 25px;
}
.box {
    display: flex;
    justify-content: space-between;
}
.text-wrapper {
    padding-left: 30px;
    max-width: 50%;
}
.img-wrapper {
    max-width: 50%;
}
