button {
    padding: 20px 40px;
    border-radius: 5px;
    background-color: #000;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 20px;
    border: 0;
    transition: .3s all ease;
    &:hover {
        background-color: purple;
        color: yellow;
    }
}